body{
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(125deg, #2c3e50, #34495e,  #545D69, #727D8C);
    background-size: 400% 400%;
    animation: bganimation 10s infinite;
}


.header{
    width: 100%;
    height: fit-content;
    padding-bottom: 30px;
    text-align: center;
}

.header img{
    width: 10%;
    height: auto;
    animation: logoresize 4s 1;
    animation-delay: 0.5s;
    transition: 0.5s;
}

.header h1{
    font-size: 50px;
    margin-top: -20px;
    text-shadow: 4px 4px #000000;
}

.header h2{
    font-size: 35px;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: -40px;
    text-shadow: 2px 2px #000000;
}

.header img:hover{
    width: 11%;
    height: auto;
}

.header .button{
    display: inline-block;
    margin: 0px 10px 20px 10px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 9px;
    width: 180px;
    height: 46px;
    border-radius: 40px;
    border: 2px solid #b2bec3;
    transition: 0.5s;
}

.header .button:hover{
    background-color: #b2bec3;
    color: black;
}

.content{
    width: 100%;
    margin-top: -20px;
    height: fit-content;
    text-align: center;
}

.content .aboutus{
    font-size: 30px;
    margin-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    text-shadow: 2px 2px black;
}

.content .ourservers {
    width: 20%;
    height: fit-content;
    margin: 50px 0px 0px 40%;
    background-color: #3c6382;
    border-radius: 12px;
    padding-bottom: 20px;
    box-shadow: black 4px 4px;
}

.content .ourservers img {
    width: 50%;
}

.content .ourservers .description {
    font-size: 50px;
    margin-top: -30px;
    text-shadow: black 4px 4px;
}

.content .ourservers .button{
    display: inline-block;
    width: fit-content;
    padding: 5px 20px 5px 20px;
    height: fit-content;
    border-radius: 40px;
    border: #b2bec3 solid 2px;
    transition: 0.5s;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.content .ourservers .button:hover{
    background-color: #b2bec3;
    color: black;
}

.footer{
    background-color: #2d3436;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: left;
    position: fixed;
    width: 97%;
    height: fit-content;
    padding: 30px 0px 30px 3%;
}

.footer .footerContent{
    color: white;
    text-decoration: none;
}
.footer .footerContent:hover{
    color: dodgerblue;
    text-decoration: none;
}

@keyframes bganimation {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

@keyframes logoresize {
    0%{
        transform: rotateY(0deg);
        
    }
    50%{
        transform: rotateY(180deg);
        
    }
    100%{
        transform: rotateY(0deg);
    }
}

.rulesbody{
    width: 100%;
    margin: 0;
    padding: 0;
    animation: bganimation 10s infinite;
}

.rulesheader{    
    width: 100%;

    height: 50px;
    background-color: black;
}

.rulesheader h1{
    font-size: 50px;
    text-align: center;
}